<!-- Events Section -->
<section id="events" class="bg1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Events</h2>
        <h3 class="section-subheading text-muted">
          Lorem ipsum dolor sit amet consectetur.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          {% for event in site.categories.events %}
          <li>
            <a
              href="#EventId{{ event.EventId }}"
              class="blog-link"
              data-toggle="modal"
            >
              <div class="timeline-image">
                <img
                  class="img-circle img-responsive"
                  src="{{ event.image }}"
                  alt=""
                />
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{ event.EventDate }}</h4>
                  <h4 class="subheading">{{ event.title }}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">{{ event.description }}</p>
                </div>
              </div>
            </a>
          </li>
          {% endfor %}
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Click to <br />view previous <br />events!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
