 <!-- Blog Modals -->
 {% for event in site.categories.events %}
    <div class="blog-modal modal fade" id="EventId{{ event.EventId }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ event.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{ event.image }}" class="img-responsive img-centered" alt="">
                            <p>{{ event.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Event Date: {{ event.EventDate }}
                                </li>
                                <li>Resources:
                                    <strong><a href="{{ event.resources }}"></a>
                                    </strong>
                                </li>
                            </ul>
                            <!-- <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
