 <!-- Blog Modals -->
 {% for event in site.categories.events %}
    <div class="blog-modal modal fade" id="event_id{{ event.event_id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ event.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/events/{{ event.image }}" class="img-responsive img-centered" alt="">
                            <h4>{{ event.date_time }}</h4>
                            <p>{{ event.description }}</p>
                            <p>{{ event.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
